html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapCanvas {
    height: 100%;
}

#mapButtons {
    right: 20px;
    position: absolute;
    top: 20px;
    background: white;
    width: 200px;
}
.mapButton {
    width: 50%;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    border: 1px black solid;
    margin: -1px;
}

.window {
    position: absolute;
    width: 600px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    background: white;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
}

.chartLabel {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    position: relative;
    right: 285px;
    bottom: 50px;
}

#sideBar {
    height: 100%;
    width: 300px;
    float: left;
}

#carPicker {
    height: calc(100% - 250px);
    overflow-y: auto;
}
.carPickerItem {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    border: 1px black solid;
    cursor: pointer;
}
.carPickerItem.active {
    background: grey;
}

.carInfo {
    height: 160px;
}
#carModel {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

#nextMaintenance {
    height: 90px;
    padding: 0px 5px;
}

@font-face {
    font-family: 'DigitalClock';
    /* font from http://www.fontspace.com/wlm-fonts/lets-go-digital */
    src: url('../fonts/digital_clock.ttf');
}
.digitalClockFont {
    font-family: 'DigitalClock';
    font-size: 5em;
    text-align: center;
    width: 50%;
}
.units {
    text-align: center;
    width: 50%;
}

.maintenanceList {
    height: 170px;
    overflow-y: auto;
    border: 1px black solid;
}
#addMaintenanceButton {
    float: right;
    margin: 20px;
}

#addMaintenanceWindow {
    width: 300px;
    height: 160px;
    top: calc(50% - 150px);
    left: calc(50% - 80px);
    z-index: 4;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: 0.8;
}

