html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapCanvas {
    height: 100%;
}

#mapButtons {
    right: 20px;
    position: absolute;
    top: 20px;
    width: 200px;
}
.mapButton {
    position: relative;
    width: 48%;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    border: 1px black solid;
    background-color: #32425C;
    color:white;
    border-radius: 10px
}

.mapButton:hover{
    background-color: #A7D7E5;
    color:#282828;
}

.window {
    position: absolute;
    width: 600px;
    height: 600px;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    background: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
    border-radius: 10px;
}

#addFillUp {
	position: absolute;
	width: 300px;
	height: 200px;
	top: 35%;
	left: 50%;
	background-color:#32425C;
	border: solid 1px white;
	border-radius: 5px;
	padding: 5px;
}

#sideBar {
	font-family:Arial, sans-serif;
	color: white;
	height: 100%;
	width: 300px;
	float: left;
	background-color:#32425C;
	padding:0px 10px 0px 10px;

    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #32425C),
    color-stop(1, #111111)
);
background-image: -o-linear-gradient(bottom, #32425C 0%, #111111 100%);
background-image: -moz-linear-gradient(bottom, #32425C 0%, #111111 100%);
background-image: -webkit-linear-gradient(bottom, #32425C 0%, #111111 100%);
background-image: -ms-linear-gradient(bottom, #32425C 0%, #111111 100%);
background-image: linear-gradient(to bottom, #32425C 0%, #111111 100%);
}

.chartLabel {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    position: relative;
    right: 285px;
    bottom: 50px;
}

#carPicker {
    height: calc(100% - (233px + 350px));
    overflow-y: auto;
    margin-top: 5px;
}
.carPickerItem {
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	border: 1px black solid;
	cursor: pointer;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color:#282828;
}
.carPickerItem.active {
	color:#282828;
	background: #DEF1E8;
}

.carPickerItem:hover {
	background-color:#A7D7E5;
	color:#282828;
}

.fillUpHere{

    padding:10px;
}

#upcomingMaintenanceTitle{
    text-align: center;
    font-size: 1.2em;
    color:white;
    padding-top:10px;
}

#carModel {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

#carNickName{
    font-size:2.5em;
    text-align: center;
}

#nextMaintenance {
    height: 90px;
    padding: 0px 5px;
}

@font-face {
    font-family: 'DigitalClock';
    /* font from http://www.fontspace.com/wlm-fonts/lets-go-digital */
    src: url('../fonts/digital_clock.ttf');
}
.digitalClockFont {
    font-family: 'DigitalClock';
    font-size: 6em;
}
.maintenanceList {
    height: 170px;
    overflow-y: auto;
    border: 1px black solid;
    background-color: white;
    border-radius: 10px;
    font-family:Arial, sans-serif;
}

#addMaintenanceButton {
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    text-align: center;
    width: 200px;
    color:white;
    text-decoration: none;
    margin: 10px auto;
}

#addMaintenanceButton:hover{
    background-color: #A7D7E5;
    color:#282828;
}

.maintenanceTitle{
    text-align: center;
    color:white;
    font-family:Arial, sans-serif;
}

#addMaintenanceWindow {
    width: 300px;
    height: 200px;
    top: calc(50% - 150px);
    left: calc(50% - 80px);
    z-index: 4;
    background-color:#32425C;
    font-family:Arial, sans-serif;
    color:white;
    padding: 20px;
}

#companyLogo{
    padding-top: 5px;
    text-align: center;
    color:orange;
}

.stationName{
    font-family:Arial, sans-serif;
}

#doneAddMaintenanceButton{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    display: inline;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    width: 100px;
    color:white;
    text-decoration: none;
}

#addMaintenanceButtons{
    padding-top: 15px;
    text-align: center;
}

#cancelAddMaintenanceButton{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    display: inline;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    width: 100px;
    color:white;
    text-decoration: none;
}

#doneAddMaintenanceButton:hover{
    background-color: #A7D7E5;
    color:#282828;
}

#cancelAddMaintenanceButton:hover{
    background-color: red;
    color:#282828;
}

.fillUp{
    padding:20px;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: 0.8;
}

#addVehicleButton{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    text-align: center;
    width: 200px;
    color:white;
    text-decoration: none;
    margin: 10px auto;
}

#maintenanceWindow{
    background-color:#32425C;
}

#addVehicleButton:hover{
    background-color: #A7D7E5;
    color:#282828;
}

.maintenanceItem{
    padding: 10px;
}

.fuelEconomy{
    text-align: center;
}

