html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mapCanvas {
    height: 100%;
}

#mapButtons {
    right: 20px;
    position: absolute;
    top: 20px;
    width: 200px;
}
.mapButton {
    position: relative;
    width: 47%;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    border: 1px black solid;
    background-color: #32425C;
    color:white;
    border-radius: 10px
}

.mapButton:hover{
    background-color: #A7D7E5;
    color:#282828;
}

.window {
    position: absolute;
    width: 600px;
    height: auto;
    top: calc(50% - 320px);
    left: calc(50% - 320px);
    background: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
    border-radius: 10px;
    background-color:#32425C;
}

#addFillUp {
	position: absolute;
	width: 300px;
	height: 200px;
	top: 35%;
	left: 50%;
	background-color:#32425C;
	border: solid 1px white;
	border-radius: 5px;
	padding: 5px;
}

#sideBar {
	font-family:Arial, sans-serif;
	color: white;
	height: 100%;
	width: 300px;
	float: left;
	background-color:#32425C;
	padding:0px 10px 0px 10px;
    transition: left 0.5s;

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #32425C),
        color-stop(1, #111111)
    );
    background-image: -o-linear-gradient(bottom, #32425C 0%, #111111 100%);
    background-image: -moz-linear-gradient(bottom, #32425C 0%, #111111 100%);
    background-image: -webkit-linear-gradient(bottom, #32425C 0%, #111111 100%);
    background-image: -ms-linear-gradient(bottom, #32425C 0%, #111111 100%);
    background-image: linear-gradient(to bottom, #32425C 0%, #111111 100%);
}

#statisticsWindow {
    color: white;
}
#chart {
    width: 100% !important;
    height: auto !important;
}
.chartYLabel {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    position: relative;
    right: 285px;
    bottom: 50px;
}

.center {
    text-align: center;
}

#carPicker {
    height: calc(100% - 340px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
}
.carPickerItem {
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	border: 1px black solid;
	cursor: pointer;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color:#282828;
}
.carPickerItem.active {
	color:#282828;
	background: #DEF1E8;
}
.carPickerItem:hover {
	background-color:#A7D7E5;
	color:#282828;
}
.carPickerItem img {
    width: 270px;
    height: 100px;
}

.fillUpHere{

    padding:10px;
}

#upcomingMaintenanceTitle{
    text-align: center;
    font-size: 1.2em;
    color:white;
    padding-top:10px;
}

#carModel {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

#carNickName{
    font-size:2.5em;
    text-align: center;
}

#nextMaintenance {
    height: 90px;
    padding: 0px 5px;
}
#nextMaintenance ul {
    padding-left: 15px;
    font-size: 0.9em;
}

@font-face {
    font-family: 'DigitalClock';
    /* font from http://www.fontspace.com/wlm-fonts/lets-go-digital */
    src: url('../fonts/digital_clock.ttf');
}
.digitalClockFont {
    font-family: 'DigitalClock';
    font-size: 4em;
}
.maintenanceList {
    height: 170px;
    overflow-y: auto;
    border: 1px black solid;
    background-color: white;
    border-radius: 10px;
    font-family:Arial, sans-serif;
}

#addMaintenanceButton {
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    text-align: center;
    width: 200px;
    color:white;
    text-decoration: none;
    margin: 10px auto;
    cursor: pointer;
}

#addMaintenanceButton:hover{
    background-color: #A7D7E5;
    color:#282828;
}

.maintenanceTitle{
    text-align: center;
    color:white;
    font-family:Arial, sans-serif;
}

#addMaintenanceWindow {
    width: 300px;
    left: calc(50% - 170px);
    top: calc(50% - 130px);
    z-index: 4;
    font-family:Arial, sans-serif;
    color:white;
    padding: 20px;
}
#addMaintenanceWindow .label {
    width: 100px;
    height: 20px;
    display: block;
    float: left;
}

#addVehicleWindow {
    width: 330px;
    left: calc(50% - 185px);
    top: calc(50% - 100px);
    z-index: 4;
    font-family:Arial, sans-serif;
    color:white;
    padding: 20px;
}
#addVehicleWindow .label {
    width: 80px;
    display: block;
    float: left;
}

#companyLogo{
    padding-top: 5px;
    text-align: center;
    color:orange;
}

.stationName{
    font-family:Arial, sans-serif;
}

#doneAddMaintenanceButton{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    width: 100px;
    color:white;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin: 5px;
}

#addMaintenanceButtons{
    padding-top: 15px;
    text-align: center;
}

#cancelAddMaintenanceButton{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    width: 100px;
    color:white;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin: 5px;
}

#doneAddMaintenanceButton:hover{
    background-color: #A7D7E5;
    color:#282828;
}

#cancelAddMaintenanceButton:hover{
    background-color: red;
    color:#282828;
}

#doneAddVehicleButton{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    width: 100px;
    color:white;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin: 5px;
}

#addVehicleButtons{
    padding-top: 15px;
    text-align: center;
}

#cancelAddVehicleButton{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    width: 100px;
    color:white;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin: 5px;
}

#doneAddVehicleButton:hover{
    background-color: #A7D7E5;
    color:#282828;
}

#cancelAddVehicleButton:hover{
    background-color: red;
    color:#282828;
}

.fillUp{
    padding:20px;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: 0.8;
}

#addVehicleButton{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(58,153,241);
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    text-align: center;
    width: 200px;
    color:white;
    text-decoration: none;
    margin: 10px auto;
    cursor: pointer;
}

#addVehicleButton:hover{
    background-color: #A7D7E5;
    color:#282828;
}

.maintenanceItem{
    padding: 10px;
}
.maintenanceItem:nth-child(odd) {
    background: lightgray;
}

.fuelEconomy{
    text-align: center;
}

.closeButton {
    font-family: sans-serif;
    font-size: 2em;
    color: white;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

#menuButton {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px 15px;
    cursor: pointer;
    color: #929292;
}

@media (max-width: 768px) {
    #menuButton {
        display: inline-block;
    }

    #sideBar {
        position: fixed;
        z-index: 1;
    }
    #sideBar.hidden {
        left: -320px;
    }

    #mapButtons .buttonText {
        display: none;
    }
    
    #mapButtons i {
        font-size: 2em;
    }

    #mapButtons {
        width: 120px;
    }

    .window {
        position: fixed;
        left: 10px;
        right: 10px;
        width: auto;
        top: 10px;
        overflow-y: auto;
        max-height: calc(100% - 40px);
    }
}

